p{
    font-size: 60px;
    color: violet;
}
.same{
   height: 200px; 
   width: 200px;
   background-color: aqua;
}
#abc{
    background-color: red;
    border-radius: 15px ;
}
div{
    background-color: blue;
}